# Helm values override for PostgreSQL s390x instance
namespaceOverride: {{ namespace }}

commonLabels:
  app: postgres-s390x
  service-type: postgres-s390x

commonAnnotations:
  sovcore.byop.ibm.com/crn: {{ context.crn | default("crn:unknown") | yaml_safe }}
  sovcore.byop.ibm.com/account-id: {{ context.account_id | default("unknown") | yaml_safe }}
  sovcore.byop.ibm.com/sub-account-id: {{ context.sub_account_id | default("unknown") | yaml_safe }}
  sovcore.byop.ibm.com/platform: {{ context.platform | default("unknown") | yaml_safe }}

instance:
  name: {{ instance_name }}
  id: "{{ instance_id }}"
  environment: {{ environment }}
  clusterName: "{{ cluster_name }}"

imagePullSecrets:
{% if image_pull_secret_name %}
  - name: {{ image_pull_secret_name }}
{% else %}
  []
{% endif %}

image:
  registry: ""
  repository: BYOP_REGISTRY/byop/postgres-s390x
  tag: "17.11"

statefulset:
  replicas: {{ replicas }}

auth:
  superuserPassword: {{ spec.superuser_password | yaml_safe }}
  database: {{ spec.database_name | yaml_safe }}
  username: {{ spec.database_user | yaml_safe }}
  password: {{ spec.database_password | yaml_safe }}

persistence:
  size: {{ storage_size }}
  # storageClass: "ceph-rbd-platform"
